body {
	font-family: courier;
}

#play, #randomize, #reset {
	cursor: pointer;
	padding: 0.25em 0.5em;
	background-color: lightgray;
}

#play:hover, #randomize:hover, #reset:hover {
	background-color: #80F080;
}