body {
	font-family: courier;
	text-align: center;
}

#life-play {
	display: inline-block;
	width: 3em;
}

#life-play, #life-randomize, #life-reset {
	cursor: pointer;
	padding: 0.25em 0.5em;
	background-color: lightgray;
}

#life-play:hover, #life-randomize:hover, #life-reset:hover {
	background-color: #80F080;
}

#life-generation, #life-population, #life-fps {
	display: inline-block;
	width: 3em;
}